.idea
.gitignore
#Frontend
frontend/.idea
frontend/.vscode
frontend/qresto_public/node_modules

#Backend
backend/domain/auth/target
backend/domain/commons/target
backend/domain/feedback/target
backend/domain/importer/target
backend/domain/kitchenboard/target
backend/domain/mailer/target
backend/domain/menu/target
backend/domain/orders/target
backend/domain/qr_resolver/target
backend/domain/restaurant/target
backend/domain/security-commons/target
backend/domain/models/target

backend/infrastructure/data
backend/infrastructure/eureka/target
backend/infrastructure/gateway/target
backend/infrastructure/cri-dockerd-0.3.9.arm64.tgz
.jpb/jpb-settings.xml
*.iml
lib/**
frontend/qrestor/.idea
frontend/qrestor/.vscode
frontend/qrestor/node_modules